<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Platzi Flask| {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    {% block styles %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
    {% endblock %}
    {{ fontawesome_css() }}
    {{ fontawesome_html() }}
  </head>
  <body>
    {% include 'navbar.html' %}
    {% for category,message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }} alert-dismissible" >
        <button type="button" data-dismiss="alert" class="close">&times;</button>
        {{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
    {% block scripts %}
      {{ bootstrap.load_js() }}
      {{ fontawesome_js() }}
    {% endblock %}
  </body>
</html>
